body {

	font-size: 16;
	margin: 5%;
	background-color: #ECFFFB;
	font-family: sans-serif;
}

h1 {

	text-align: center;

}

.top-title {
	background-color: #7CFFE1;
	%: 735px;
	display: flex;
	justify-content: center;
	font-size: larger;
	text-transform: uppercase;
	flex-basis: 30%;
	margin: 60px;
}

.bottom-title {
	background-color: #7CFFE1;
	%: 735px;
	display: flex;
	justify-content: center;
	font-size: larger;
	text-transform: uppercase;
	flex-basis: 30%;
	margin-left: 420px;
	margin-right: 420px;
}

.grid-area {
	background-color: #C4FFF2;
	height: auto;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: flex-start;*/
  	/*align-items: flex-start;*/
  	/*flex-flow: column wrap;*/
  	/*flex-wrap: wrap;*/
	margin: 60px;	
}

.grid-item {
	float: left !important;
	width: 15%;
	margin-bottom: 30px;
	/*max-width: 150px;*/
	background-color: #7CFFE1;
	/*%: 735px;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: flex-start;*/
  	/*align-items: flex-start;*/
  	/*flex-flow: column wrap;*/
  	/*justify-content: flex-start;*/
	/*flex-basis: 30%;*/
	/*margin-right: 30px;*/
	margin-left: 30px;
	margin-top: 30px;
	/*margin: 30px;*/
}

.icons{
/*	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  	align-items: flex-start;
  	flex-flow: column wrap;
  	flex-wrap: wrap;*/
	margin: 30px;
	width: 70%;
	/*height: 100px;*/
}

.text_part
{
	float: left;
	width: 70%;
	margin-right: 10%;
}

.text-icons
{
 	background-color: #7CFFE1;
	width: 70%;
	float: left !important;
	/*height: 100px;*/
 	/*display: flex;*/
 	/*flex-direction: column;*/
 	/*align-items: flex-start;*/
 	/*flex-flow: column wrap;*/
  	/*flex-wrap: wrap;*/
  	/*justify-content: flex-start;*/
 	margin-top: 30px;
 	margin-bottom: 30px;
 	margin-right: 5%;
 	font-size: 16px;
 }

.text-icons p
{
	padding: 5px;
	line-height: 25px;
}
.data-chart {
	background-color: #C4FFF2;
	/*height: 860px;*/
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;
  	align-items: flex-start;
  	flex-flow: column wrap;
  	flex-wrap: wrap;*/
	margin: 60px;
}

.data {
	background-color: #FFB46E;
 	display: flex;
 	flex-direction: column;
 	align-items: flex-start;
 	flex-flow: column wrap;
  	flex-wrap: wrap;
  	justify-content: flex-start;
 	margin: 30px;
 	font-size: 18px;
}

.text-data{
 	background-color: #FFFFFF;
	width: 90%;
	/*height: 800px;*/
/* 	display: flex;
 	flex-direction: column;
 	align-items: flex-start;
 	flex-flow: column wrap;
  	flex-wrap: wrap;
  	justify-content: flex-start;*/
 	margin-top: 30px !important;
 	margin-bottom: 30px;
 	margin-left: 5%;
 	/*float: left;*/
 	font-size: 18px; }


@media only screen and (min-width: 681px) {

	.grid-area {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	}
}
@media only screen and (max-width: 768px)
{

.top-title
{
	margin: 22px;
}

.grid-item {
	flex-basis: 30%;
	width: 100%;
	margin-left: 0%;
	max-width:100% !important;

	}
.data-chart
{
	width: 90%;
	margin-left: 5%;
}
p.text-data
{
	width: 90%;
	margin-left: 5%;
	margin-top: 30px !important;
}
.text_part
{
	width: 100%;
	margin-left: 0%;
}

.icons
{
	width: 50%;
	margin-left: 25%;
  /*margin-left: 80px;*/
}
.text-icons
{
 width: 100%;
 margin-left: 0%;
 margin-top: 10px;
}




}

